body::before{
    display: block;
    content: '';
    height: 60px;
}
.col-md-3{
    width: 23.667%;
    border-radius: 45px;
}
@media (min-width:768px) {
    .news-input{
       width: 50%;
    }
}

